.background-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: #050505;
    /* Deep black background */
    pointer-events: none;
    /* Let clicks pass through */
}